.language-switcher{
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-switcher > button {
    cursor: pointer;
    background: none;
    border: none;
    height: 70px;
    width: 70px;
    padding: 2px;
}

.language-switcher > button > span{
    color: white;
    font-size: 10px;
}

.language-switcher > button > img{
    width: 30px;
    padding: 0;
}


